parameters:
    level: 6
    phpVersion: 80200
    paths:
        - plib/library
        - tests
    scanFiles:
        - tests/stubs/plesk-sdk.php
        - tests/stubs/plesk-sdk-ns.php
    treatPhpDocTypesAsCertain: false
